#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: aqua;
}

main {
  display: flex;
}

.cv-form {
  justify-content: center;
  align-items: center;
}

.education {
  /*  */
}
