@import url("index.css");

header {
  background-color: var(--clr-primary);
  color: var(--clr-surface);
  text-align: center;
  padding: 2rem 0;
  width: 100vw;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5vw;
  width: 100vw;
  margin: 1.5rem 0;
  padding: 0 10vw;
}

input {
  display: block;
  width: 100%;
  min-height: 3rem;
  font-family: var(--ff-base);
  font-size: var(--fs-300);
  padding: 0.4rem;
  border: 1px solid;
  border-radius: 4px;
}

input:hover {
  border: 2px solid var(--clr-primary);
}

.cv-form,
.cv-preview {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 480px;
}

.general-info form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.general-info,
.education,
.experience {
  background-color: var(--clr-surface);
  border: 1px solid var(--clr-secondary);
  border-radius: 4px;
  padding: var(--fs-400);
  box-shadow: 5px 5px 8px var(--clr-primary);
}

.cv-preview {
  background-color: var(--clr-surface);
  border: 1px solid var(--clr-secondary);
  padding: var(--fs-400);
  box-shadow: 5px 5px 8px var(--clr-primary);
}
