@import url("index.css");

header {
  background-color: var(--clr-primary);
  color: var(--clr-surface);
  text-align: center;
  padding: 2rem 0;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1.5rem 0;
  padding: 0 10vw;
}

input {
  display: block;
  min-width: 90%;
  font-family: var(--ff-base);
  font-size: var(--fs-200);
  padding: 0.8rem 0.6rem;
  border: 1px solid;
  border-radius: 4px;
}

input:hover,
input:focus {
  border: 2px solid var(--clr-primary);
  outline: 0;
}

.cv-form,
.cv-preview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cv-form {
  flex: 0.8;
  max-width: 600px;
}

.cv-preview {
  flex: 1;
  min-width: 580px;
  max-width: 780px;
}

.general-info form,
.education form,
.experience,
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.general-info,
.education,
.experience {
  background-color: var(--clr-surface);
  border: 1px solid var(--clr-secondary);
  border-radius: 4px;
  padding: var(--fs-400);
  box-shadow: 5px 5px 8px var(--clr-primary);
}

.example {
  display: flex;
  justify-content: space-evenly;
}

.clear-cv {
  background-color: transparent;
  color: red;
  font-size: var(--fs-300);
  transition: transform 0.05s ease-out 0s;
}

.clear-cv:hover {
  background-color: transparent;
  color: red;
}

.clear-cv:active {
  transform: scale(1.1);
}
.cv-preview {
  background-color: var(--clr-surface);
  border: 1px solid var(--clr-secondary);
  padding: var(--fs-400);
  box-shadow: 5px 5px 8px var(--clr-primary);
}
